BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_KERNEL_HEADERS_4_9=y
BR2_TARGET_GENERIC_HOSTNAME="ts-imx6ul"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,embeddedarm,linux-4.9.y,6eb6bf8791decfd6a1535bc51a538da492aea794)/linux-6eb6bf8791decfd6a1535bc51a538da492aea794.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="tsimx6ul"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx6ul-ts7553v2"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_BUSYBOX_WATCHDOG_PERIOD="30"
BR2_PACKAGE_KMOD=y
BR2_TARGET_ROOTFS_TAR_XZ=y
BR2_PACKAGE_TS7553V2_UTILS=y
BR2_PACKAGE_TSSILOMON_INIT=y
BR2_PACKAGE_WILC_FIRMWARE=y
BR2_PACKAGE_WILC_FIRMWARE_15_2=y
